body {
    background:#cfb7b6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
}

/* HEADER AND BUTTON */

header {
    margin: 30px auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 50px;
    padding: 20px;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

header button {
    background: white;
    border: none;
    border-radius: 5px;
    width: 190px;
    height: 65px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(100, 100, 100);
    margin-bottom: 60px;
    cursor: pointer;
    transition: all .3s;
}

header button:hover {
    background: rgb(187, 116, 116);
    color: white;
}

header button:active {
    transform: translateY(4px);
}

/* MAIN CONTENT WITH BOOK LIST */

.main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .card {
    background: white;
    width: 215px;
    height: 260px;
    border-radius: 2px;
    margin: 0 25px 25px 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(109, 109, 109);
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    transition: all .3s;
    box-shadow: inset 0 0 0 4px rgb(172, 141, 141);
}

.card:hover {
    box-shadow: inset 0 0 0 7px rgb(185, 128, 128);
}

.card p {
    margin-bottom: 15px;
}

.card .book-title {
    color: rgb(199, 91, 91);
    font-size: 19px;
    text-align: center;
}

.read-button {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background: #8aad61;
    color: white;
    font-weight: 600;
    margin: 0 0 35px 0;
    padding: 10px 40px;
    cursor: pointer;
}

.read-button:hover {
    box-shadow: 0 0 11px rgba(85, 85, 85, 0.2); 
}

.remove-button {
    border: none;
    border-radius: 50%;
    height: 50px;
    background-color: white;
    color: rgb(199, 53, 53);
    font-weight: 800;
    padding: none;
    cursor: pointer;
    font-size: 30px;
}

.remove-button:hover {
    color: rgb(141, 17, 17);
}

/* MODAL */

.modal-add {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* MODAL FORM */

.modal-content {
    background: rgb(245, 220, 220);
    border-radius: 3px;
    height: 450px;
    width: 300px;
    margin: 130px auto;
    padding: 25px;
    border: none;
    text-align: center;
}

.title {
    color:#523737;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
    text-align: center;
}

.ic1 {
    margin-top: 30px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100%;
    font-size: 18px;
    padding: 4px 20px 0;
    color: rgb(56, 56, 56);
}

.submit {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: #8aad61;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

.submit:active {
    background: #709448;
}

.read-checkbox {
    position: relative;
    color:#755959;
    font-weight: 600;
    font-size: 19px;
    margin: 35px 0;
}